<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StackyWeb</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Average+Sans&family=Bebas+Neue&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StackyWeb.styles.css" asp-append-version="true" />
</head>
<body style="background: #DCDBEB;">
    <header>
        <a asp-controller="Home" asp-action="Index">
            <svg width="254.40px" height="84px" viewBox="0 0 2000 848"><g transform="matrix(1,0,0,1,-1.2121212121212466,1.1544232873714009)"><svg viewBox="0 0 396 168" data-background-color="#ffffff" preserveAspectRatio="xMidYMid meet" height="848" width="2000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="tight-bounds" transform="matrix(1,0,0,1,0.2400000000000091,-0.22870650032830042)"><svg viewBox="0 0 395.52 168.4574130006566" height="168.4574130006566" width="395.52"><g><svg viewBox="0 0 395.52 168.4574130006566" height="168.4574130006566" width="395.52"><g><svg viewBox="0 0 395.52 168.4574130006566" height="168.4574130006566" width="395.52"><g id="textblocktransform"><svg viewBox="0 0 395.52 168.4574130006566" height="168.4574130006566" width="395.52" id="textblock"><g><svg viewBox="0 0 395.52 168.4574130006566" height="168.4574130006566" width="395.52"><g transform="matrix(1,0,0,1,0,0)"><svg width="395.52" viewBox="1.88 -38.5 111.54 47.51" height="168.4574130006566" data-palette-color="#4a596d"><g class="wordmark-text-0" data-fill-palette-color="primary" id="text-0"><path d="M5.54-15.94L5.54-15.94Q4.27-15.94 3.38-17.85 2.49-19.75 2.49-22.51L2.49-22.51 2.49-32.91Q2.49-33.28 3.53-33.96 4.57-34.64 6.14-35.41 7.71-36.18 9.35-36.89 10.99-37.6 12.22-38.05 13.45-38.5 13.77-38.5L13.77-38.5Q14.38-38.5 15.48-36.5L15.48-36.5Q15.6-36.25 15.78-35.91 15.97-35.57 16.21-35.16L16.21-35.16Q16.46-34.74 16.64-34.38 16.82-34.01 16.97-33.74L16.97-33.74Q17.63-32.54 18.63-32.54L18.63-32.54 18.63-31.54Q18.24-31.37 17.7-31.1 17.16-30.83 16.48-30.49L16.48-30.49Q13.31-28.76 13.09-28.76L13.09-28.76Q12.33-28.76 11.21-31.71L11.21-31.71Q10.08-34.64 9.38-34.64L9.38-34.64Q8.47-34.64 8.47-33.15L8.47-33.15 8.47-22Q8.47-20 9.38-20L9.38-20Q9.59-20 12.48-21.31L12.48-21.31Q15.41-22.61 15.99-22.61L15.99-22.61Q17.21-22.61 18.12-20.68L18.12-20.68Q19.02-18.77 19.02-15.75L19.02-15.75 19.02-5.1Q19.02-4.71 17.88-4.04 16.75-3.37 15.03-2.59 13.31-1.81 11.52-1.11 9.74-0.42 8.41 0.04 7.08 0.49 6.74 0.49L6.74 0.49Q6.2 0.49 5.69-0.21 5.18-0.9 4.7-1.94 4.22-2.98 3.76-4.02 3.3-5.05 2.83-5.75 2.37-6.45 1.88-6.45L1.88-6.45 1.88-7.45Q2.29-7.62 2.82-7.89 3.34-8.15 3.98-8.5L3.98-8.5Q7.18-10.25 7.42-10.25L7.42-10.25Q8.18-10.25 9.57-6.81L9.57-6.81Q10.91-3.34 11.62-3.34L11.62-3.34Q12.13-3.34 12.59-3.75 13.04-4.15 13.04-4.86L13.04-4.86 13.04-16.09Q13.04-18.36 11.79-18.36L11.79-18.36Q11.35-18.36 8.64-17.16L8.64-17.16Q5.86-15.94 5.54-15.94ZM28.32-33.69L28.32-33.69 29.73-33.69 29.73-27.76 32.27-27.76 31.78-25.29 29.73-25.29 29.73-7.4Q29.73-4.37 31.78-3.96L31.78-3.96 31.78-2.86 26.73 0Q25.63-0.44 24.68-1.46 23.73-2.49 23.73-3.39L23.73-3.39 23.73-25.24 21.68-25.24 22.17-27.34Q23.19-27.34 24.53-28.3 25.88-29.25 26.98-30.71 28.07-32.18 28.32-33.69ZM50.21-21.9L50.21-21.9 50.21-7.74Q50.21-5.91 50.81-5.18 51.41-4.44 52.66-4.15L52.66-4.15 52.66-3.05 47.21 0Q46.11-0.44 45.16-1.46 44.21-2.49 44.21-3.34L44.21-3.34 37.96 0Q37.89-0.05 37.78-0.11 37.67-0.17 37.52-0.27L37.52-0.27Q37.2-0.44 36.48-1.03 35.76-1.61 35.2-2.25L35.2-2.25Q33.71-3.88 33.71-6.01L33.71-6.01 33.71-14.21Q33.71-14.75 34.94-15.5 36.18-16.26 37.98-17.02 39.79-17.77 41.5-18.31L41.5-18.31 44.16-19.14Q44.16-21.04 43.53-22.16 42.89-23.27 41.32-23.75 39.74-24.24 36.86-24.24L36.86-24.24 36.86-25.76Q44.55-28.49 45.55-28.49L45.55-28.49Q46.67-28.49 47.74-27.48 48.8-26.46 49.51-24.95 50.21-23.44 50.21-21.9ZM39.72-11.06L39.72-7.79Q39.72-6.52 40.5-5.69L40.5-5.69Q41.28-4.86 42.23-4.87 43.18-4.88 44.21-5.59L44.21-5.59 44.21-16.89Q42.96-16.46 42.34-16.15 41.72-15.84 41.01-15.21L41.01-15.21Q39.72-13.99 39.72-11.06L39.72-11.06ZM62.1-23.66L62.1-23.66Q61.61-23.66 61.2-23.14L61.2-23.14 61.2-9.35Q61.2-5.52 64.49-4.59L64.49-4.59Q66.15-4.2 68.55-4.2L68.55-4.2 68.55-2.76Q60.32 0 59.78 0L59.78 0Q58.81 0 57.73-0.99 56.66-1.98 55.93-3.59 55.19-5.2 55.19-7.1L55.19-7.1 55.19-23.9Q55.19-24.05 56.33-24.55 57.46-25.05 59.18-25.71 60.91-26.37 62.69-27.01 64.47-27.66 65.81-28.08 67.16-28.49 67.5-28.49L67.5-28.49Q67.72-28.49 68-27.69 68.28-26.88 68.57-25.73 68.86-24.58 69.13-23.56L69.13-23.56Q69.65-21.51 70.22-20.53 70.79-19.56 72.4-19.56L72.4-19.56 72.4-18.55Q71.84-18.31 70.9-17.86 69.96-17.41 68.67-16.77L68.67-16.77Q66.06-15.5 65.84-15.5L65.84-15.5Q65.1-15.5 63.96-19.58L63.96-19.58Q62.79-23.66 62.1-23.66ZM81.39-12.99L81.39-12.99 81.39-7.4Q81.39-4.37 83.44-3.96L83.44-3.96 83.44-2.86 78.38 0Q77.28-0.44 76.33-1.46 75.38-2.49 75.38-3.39L75.38-3.39 75.38-28.15Q75.38-29.49 74.93-30.07 74.48-30.64 73.38-30.64L73.38-30.64 73.38-32.06Q76.63-33.76 79.53-35.36 82.44-36.96 84.98-38.45L84.98-38.45 85.78-36.84Q85.27-36.6 84.38-35.88 83.49-35.16 82.88-34.4L82.88-34.4Q81.39-32.52 81.39-30.1L81.39-30.1 81.39-25.49Q86.05-28.49 86.88-28.49L86.88-28.49Q87.81-28.49 88.93-27.65 90.05-26.81 90.87-25.46 91.69-24.12 91.69-22.61L91.69-22.61 91.69-17.14Q91.69-16.63 86.49-14.6L86.49-14.6Q89.64-6.25 92.62-5L92.62-5Q93.5-4.57 94.72-4.44L94.72-4.44 94.72-3Q90.08 0 88.88 0L88.88 0Q88.25 0 87.42-0.92 86.59-1.83 85.68-3.32 84.78-4.81 83.95-6.56 83.12-8.3 82.45-10 81.78-11.69 81.39-12.99ZM82.97-23.66L82.97-23.66 81.39-23.39 81.39-15.45Q82.39-15.45 84.98-16.7L84.98-16.7 85.88-17.14 85.88-19.41Q85.88-23.66 82.97-23.66ZM113.42-25.15L113.42-25.15 113.42-5.3Q113.42-3.42 111.73 0.15L111.73 0.15Q111.07 1.51 110.19 3.05 109.31 4.59 108.41 5.94 107.51 7.3 106.74 8.15 105.97 9.01 105.53 9.01L105.53 9.01Q104.7 9.01 103.44 8.65 102.18 8.3 100.88 7.76 99.57 7.23 98.57 6.74L98.57 6.74 97.13 6.01 97.13 4.49 98.82 4.49Q100.13 4.49 101.72 3.49 103.31 2.49 104.82 0.65 106.34-1.2 107.41-3.66L107.41-3.66Q101.79-1 100.92-1L100.92-1Q99.89-1 98.97-1.93 98.06-2.86 97.49-4.32 96.91-5.79 96.91-7.4L96.91-7.4 96.91-21.14Q96.91-23.93 94.47-24.39L94.47-24.39 94.47-25.49 99.91-28.54Q101.01-28.1 101.97-27.08 102.92-26.05 102.92-25.15L102.92-25.15 102.92-11.6Q102.92-8.11 104.02-6.93 105.11-5.76 107.41-5.76L107.41-5.76 107.41-21.14Q107.41-24.22 105.36-24.61L105.36-24.61 105.36-25.71 110.41-28.54Q111.51-28.1 112.46-27.08 113.42-26.05 113.42-25.15Z" fill="#3059C3" data-fill-palette-color="primary"></path></g></svg></g></svg></g></svg></g></svg></g></svg></g><defs></defs></svg><rect width="395.52" height="168.4574130006566" fill="none" stroke="none" visibility="hidden"></rect></g></svg></g></svg>
        </a>
        <div class="FrameNav">
            <div class="MenuNavigation">
                <a class="Man" asp-controller="Shoe" asp-action="Products" >Products</a>
                <a class="Man" asp-controller="Shoe" asp-action="Index" >Admin</a>
                <a class="Woman" asp-controller="Shoe" asp-action="Upsert" >Add</a>
            </div> 
        </div>
           
    </header>

    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="Madeby" >
            <div class="MadeByGabrieleRapisarda" >Made by Gabriele Rapisarda</div>
            <div class="Licon">
                <svg><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" /></svg>
            </div> 
        </div>
        <div class="Termspolicy">
            <a  asp-controller="Home" asp-action="Terms" >Terms and condition </a>
            <a  asp-controller="Home" asp-action="Privacy" >Privacy Policy</a>
        </div>
    </footer>
    
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
